body {
    font-family: 'IBM Plex Serif', serif;
    font-size: 10pt;
    color: #4b4b4b;
}

#container{
    width: 600px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

}

img {
    display: block;
    width: 90%;
    margin: auto;
}

#index-grid{
    display:grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
    align-items: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    letter-spacing: 0.5px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 12pt;
}

a {
    color: rgb(120, 156, 179);
}

a:hover{
    background-color: #000000;
    color: #FFFFFF;
    font-style:italic;
}

strong, b {
    font-weight:bolder;
    background-color: rgb(240, 234, 236);
}

.review-text{
    padding: 15px;
    background-color: #e4e4e4;
    line-height: 12pt;
    font-style: italic;
}

.suggestions{
    padding: 30px;
    margin-top: 20px;
    background-color: rgb(240, 234, 236);
}





