<!doctype html>
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Playfair+Display" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">


<body>
    <div id="container">
        <h1>You looked up "{{ artist }}". Here are the search results:</h1>
        <p>There is/are <b>{{ length }} song(s)</b> by {{ artist }} in this playlist. </p>
        <p>These include: {{ tracks }}.</p>
    <p>Try looking them up to see if they have any album reviews!</p>

<p>
<a href="/"><i class="far fa-arrow-alt-circle-left"></i> Return to index.</a>
</p>
</div>
</body>